<div class="order-wrapper">
  <button class="btn custom-font" (click)="toogle()">
    <i class="fas fa-hand-point-down p-2" *ngIf="isShown"></i>
    <i class="fas fa-hand-point-right p-2" *ngIf="!isShown"></i>
    Order by
  </button>
  <ul class="article-order-ul" *ngIf="isShown">
    <li class="article-order" (click)="search('old')">
      <i class="fas fa-check-circle"></i>Oldest to newest
    </li>
    <li class="article-order" (click)="search('new')">
      <i class="fas fa-check-circle"></i>Newest to oldest
    </li>
    <li class="article-order" (click)="search('likes')">
      <i class="fas fa-check-circle"></i>Likes Count
    </li>
    <li class="article-order" (click)="search('comments')">
      <i class="fas fa-check-circle"></i>Comments Count
    </li>
  </ul>
  <div></div>
</div>
