ul {
  list-style-type: none;
}

.custom-font {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none !important;
}

.fill {
  background-color: #FFE2E0;
}

.table-background {
  background-color: #E8E0CD;
}

