.article-details-wrapper {
  background-color: #FFE2E0;
}

.pic-article-details {
  max-width: 80%;
  border-radius: 20%;
  border-width: thick;
  border-style: solid;
  border-color: white;
}

.btn {
  margin-right: 10px;
  color: white;
}

.article-details-wrapper button {
  background-color: #EF93AE;
  border-color: #EF93AE;
}

.article-details-wrapper button:hover {
  background-color: #7BA5F7;
  border-color: #7BA5F7;
}


.article-details-wrapper .blue {
  background-color: #7BA5F7;
  border-color: #7BA5F7;
}

.article-details-wrapper .blue:hover {
  background-color: #EF93AE;
  border-color: #EF93AE;
}

.fa-folder-open,
.article-details-wrapper .fa-heart,
.fa-comments,
.fa-calendar-alt {
  color: #7BA5F7;
}

.article-details-wrapper .unlike {
  color: #EF93AE;
}
