<div class="article-details-wrapper">
  <div class="pl-4">
    <h2 class="text-center p-1 custom-font">{{article.title}}</h2>
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="pic-article-details" src="{{article.picture}}" alt="{{article.title}}" />
          </div>
        </div>
        <div class="col-lg-12 meta mb-2 mt-2 text-center">
          <span class="single-meta m-2">
            <i class="far fa-calendar-alt"></i>
            <span>Created on:</span>
            {{article.createdOnAsString}}
          </span>
          <span class="single-meta m-2">
            <i class="far fa-folder-open"></i>
            <span class="category-name">Category:</span>
            <a [routerLink]="['/articles/by-category', article.categoryId]">{{article.categoryName}}</a>
          </span>
          <span class="single-meta m-2">
            <i class="fas fa-user"></i>
            <span class="author">by</span>
            <span class="author-name">{{article.author}}</span>
          </span>
          <span class="single-meta m-2" *ngIf="article.isFavourite">
            <i class="fas fa-heart unlike" (click)="removeFromFav()">
              <span class="unlike-article">Remove from favourites</span>
            </i>
          </span>
          <span class="single-meta" *ngIf="!article.isFavourite">
            <i class="far fa-heart" (click)="addToFav()">
              <span class="like-article">Add to favourites</span>
            </i>
          </span>
        </div>
      </div>
      <div class="col-lg-12">
        <hr />
        <p class="item-description">
          {{article.content}}
        </p>
      </div>
      <div class="col-lg-12 text-center">
        <hr />
        <a [routerLink]="['/articles']"><button class="btn">Back to all articles</button></a>
      </div>
    </div>
  </div>
  <hr />
  <app-comments-current-article [articleId]=article.id></app-comments-current-article>
  <div class="fill pt-1 pb-1"></div>
</div>
