<div class="article-details-wrapper">
  <div class="pl-4">
    <h2 class="text-center p-1 custom-font">TItle</h2>
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 text-center">
            <!-- <img class="pic-article-details" src={{article.picture} alt="article-picture" /> -->
          </div>
        </div>
        <div class="col-lg-12 meta mb-2 mt-2 text-center">
          <!-- <span class="single-meta m-2">
            <i class="far fa-calendar-alt"></i><span class="mr-1 ml-1">Created
              on:</span>{article.createdOnAsString}
          </span> -->
          <!-- <span class="single-meta m-2">
            <i class="far fa-folder-open"></i><span class="mr-1 ml-1">Category:</span>
            <Link to={`/articles/by-category/${article.categoryId}`}>{article.categoryName} </Link> </span> <span
              class="single-meta m-2">
            <i class="fas fa-user"></i><span class="mr-1 ml-1">by</span>{article.author}
          </span> -->
          <!-- <span class="single-meta m-2">
            {article.isFavourite
            ? <i class="fas fa-heart unlike" onClick={removeFromFav}><span
                class="mr-1 ml-1 unlike-article">Remove from favourites</span></i>
            : <i class="far fa-heart" onClick={addToFav}><span class="mr-1 ml-1 like-article">Add to
                favourites</span></i>}
          </span> -->
        </div>
      </div>
      <div class="col-lg-12">
        <hr />
        <!-- <p class="item-description m-2">
          {article.content}
        </p> -->
      </div>
      <div class="col-lg-12 text-center">
        <hr />
        <!-- <Link to="/articles"><button class="btn">Back to all articles</button></Link> -->
      </div>
    </div>
  </div>
  <hr class="custom-margin-left" />
  <!-- { articleId
  ?
  <CommentsListCurrentArticle articleId={articleId} />
  : null
  } -->
  <div class="fill pt-1 pb-1"></div>
</div>
