<div class="admin-home-wrapper">
  <h1 class="text-center custom-font p-1">Welcome to Administration</h1>
  <hr class="hr-admin-dashboard" />
  <div>
    <ul class="custom-font-li">
      <li class="m-1">
        Categories
        <div class="mt-2 mb-2">
          <a [routerLink]="['/administration/categories']">
            <button class="btn all-admin-area">All Categories</button>
          </a>
          <a [routerLink]="['/administration/categories/create']">
            <button class="btn create-admin-area">Create Category</button>
          </a>
        </div>
      </li>
      <li class="m-1">
        Articles
        <div class="mt-2 mb-2">
          <a [routerLink]="['/administration/articles']">
            <button class="btn all-admin-area">All Articles</button>
          </a>
          <a [routerLink]="['/administration/articles/create']">
            <button class="btn create-admin-area">Create Article</button>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="fill pt-1 pb-1"></div>
</div>
