<div class="search-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="text-center mt-4 custom-font">Find an article</h4>
      <p class="text-center custom-font">Search for an article using the form below:</p>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="search-form">
        <form [formGroup]="searchForm" (ngSubmit)="search()" class="m-2">
          <div class="row">
            <div class="col-lg-10">
              <div class="form-group">
                <input type="text" class="form-control" id="query" placeholder="Search" formControlName="query">
              </div>
              <div class="alert alert-warning alert-custom-margin"
                *ngIf="f.query?.errors?.required && f.query?.touched">
                This field is required
              </div>
              <div class="alert alert-warning alert-custom-margin" *ngIf="f.query?.errors?.minlength">
                The search text should be at least {{f.query.errors?.minlength.requiredLength}} symbols
              </div>
            </div>
            <div class="col-lg-2">
              <button class="btn" type="submit" [disabled]="searchForm.invalid">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-2"></div>
      <div class="text-center mb-1" *ngIf="isSearched">
        <button class="btn btn-danger custom-danger" (click)="clear()">Clear Result</button>
      </div>
    </div>
  </div>
  <hr />
</div>
