.search-wrapper {
  background-color: #E8E0CD;
  margin: 5px 20px 20px 20px;
}

.search-wrapper .custom-danger {
  background-color: red;
  border-color: red;
}

.search-wrapper .custom-font {
  font-weight: 100;
}

.search-form {
  margin-bottom: 30px;
}

.btn {
  border: none;
  background-color: #EF93AE;
  color: white;
}

.btn:hover {
  background-color: #7BA5F7;
  color: white;
}
