.baby-born-pic {
  max-width: 30%;
  border-radius: 20%;
  border-width: thick;
  border-style: solid;
  border-color: white;
}

.baby-wrapper .custom-font {
  font-weight: 100;
}

.baby-wrapper .female {
  color: #EF93AE;
}

.baby-wrapper .male {
  color: #7BA5F7;
}

.fa-child,
.fa-birthday-cake,
.fa-clock,
.fa-weight,
.fa-clipboard-check {
  color: #19642E;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  margin-left: 10px;
}
