.single-comment-wripper .info i {
  font-size: 14px;
  color: #EF93AE;
}

.comment-content {
  font-size: 22px;
}

.post {
  overflow: auto;
  background-color: #E8E0CD;
  margin: 15px;
  position: relative;
}

.post-content {
  display: block;
  padding: 10px;
}

i {
  margin-right: 5px;
}
