<img class="article-pic" src={{article.picture}} alt="article-picture" />
<div class="media-body custom-font">
  <h5>{{article.title}}</h5>
  {{article.shortContent}}
  <div>
    <hr />
    <span class="span-icon"><i class="far fa-folder-open"></i> <b>{{article.categoryName}}</b></span>
    <span class="span-icon"><i class="far fa-heart"></i> <b>{{article.likesCount}}</b></span>
    <span class="span-icon"><i class="far fa-comments"></i> <b>{{article.commentsCount}}</b></span>
    <span class="span-icon"><i class="far fa-calendar-alt"></i> <b>{{article.createdOnAsString}}</b></span>
    <div>
      <a [routerLink]="['/articles/current-article', article.id]">
        <button class="btn btn-secondary">Read more</button>
      </a>
    </div>
  </div>
</div>
