.create-article-wrapper {
  background-color: #FFE2E0;
  height: 1000px;
}

.create-article-wrapper .custom-font {
  font-weight: 100;
}

.create-article-form {
  justify-content: center;
}

.create-article-wrapper button {
  background-color: #EF93AE;
  border-color: #EF93AE;
  color: white;
  margin-top: 20px;
}

.create-article-wrapper button:hover {
  background-color: #7BA5F7;
  border-color: #7BA5F7;
  color: white;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.form-group {
  margin-top: 20px;
}

.control-label {
  margin-bottom: 5px;
}

hr {
  margin-left: 40px;
  margin-right: 40px;
}

.create-article-wrapper .back {
  background-color: #7BA5F7;
  border-color: #7BA5F7;
  color: white;
  margin-left: 10px;
}
