<div class="update-baby-wrapper">
  <h1 class="custom-font text-center">Update Baby</h1>
  <hr />
  <div class="row update-baby-form">
    <div class="col-lg-8">
      <form class="mt-2">
        <div class="text-center">
          <button class="btn" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center">
      <img class="img-baby-born-pic mt-3 mb-3" src="../../../../assets/images/stork2.jpg" alt="baby-born-pic" />
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
