<div class="by-category-wrapper">
  <h1 class="text-center pt-2 custom-font">
    Articles by
    <span class="pink-color mr-1">{{categoryName$ | async}}</span> Category
  </h1>
  <div class="text-center">
    <a [routerLink]="['/articles']">
      <button class="btn btn-clear-article-by-category">Get All Articles</button>
    </a>
  </div>
  <hr />

  <app-articles-categories-list></app-articles-categories-list>

  <div class="m-3"></div>
  <hr />
  <div *ngFor="let article of articles$ | async">
    <app-single-article class="media mb-4 single-article" [article]=article></app-single-article>
  </div>
  <div class="fill pt-1 pb-1"></div>
</div>
